
.vs/Unity.Analytics.DataPrivacy_NOTELEMETRY_KSP18/v16/.suo
.vs/Unity.Analytics.DataPrivacy_NOTELEMETRY_KSP18/v16/Server/sqlite3/storage.ide
.vs/Unity.Analytics.DataPrivacy_NOTELEMETRY_KSP18/v16/.suo
